body {
    background-color: white;
/}

#container { 
    margin: 0 auto;
    max-width: 1000px;
}

#header { 
    max-width: 100%;
    background-color: none;
    margin-left: 35px;
    margin-right: 5px;
    padding-bottom: 20px;
    border-bottom: solid;
    border-bottom-color: darkgray;
}

.header {
    display: flex;
    justify-content: space-between;
}
#middle-wraper {
    padding-top: 15px;
}
.title {
    text-align:right;
    position: relative;
    font-family: "Calibri", sans-serif;
    color: #172E11;
}

.title h2{
    text-align:right;
    position: relative;
    font-size: 18pt;
    margin-bottom: 0;
} 


.logo, .title {
  display: inline;
}
.logo {

}

#main-content-wraper {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

#studying-sites {
    display:flex;
    text-align: center;
    margin-left: 35px;
    margin-right: 5px;
}

.site {
    color: black;
    font-family: 'Calibri', sans-serif;
    text-align: center;
    
}

.site-image {
    text-align: center;
}

.image-content {
    text-align: center;
}

.featured-work {
    font-size: 24pt;
    color: darkgray;
    font-family: 'Calibri', sans-serif;
    margin-left: 20px;
} 

.featured-work > p{
    margin-bottom: 0;
    margin-top: 15px;
    padding-left: 15px;
}